*.pch
*.ipch
*.suo
*.exe
*.dll
*.ide
*.Publish.xml
*.tmproj

*.txt
.DS_Store
**/Debug/*
**/obj/*
**/release/*
*.cache
*csproj.*
/d/Develop/Personal/Gateway/Microservices/.vs/GatewayAndCommon/DesignTimeBuild/.dtbcache
/d/Develop/Personal/Gateway/Microservices/.vs/GatewayAndCommon/v16/Server/sqlite3/storage.ide



FileListAbsolute*
*FileListAbsolute.txt


bin
Bin
App_Data
App_data

*~
*FileListAbsolute.txt

