[Bb]in/
[Oo]bj/
[Ss]qlite3/
App_[Dd]ata/

.idea
.vs

.pch
.ipch
.suo
.exe
.dll
.ide
.Publish.xml
.tmproj

*.txt
.DS_Store
**/Debug/*
**/obj/*
**/release/*
*.cache
*csproj.*

FileListAbsolute*
*FileListAbsolute.txt



*~
*FileListAbsolute.txt

