.pch
.ipch
*.suo
*.exe
*.dll
*.ide

Debug
**/Debug/*
**/obj/*
**/release/*
*.cache
*csproj.*

FileListAbsolute*
*FileListAbsolute.txt

*.dll
*.pdb
*.suo
*.Publish.xml
*.tmproj
.DS_Store
*.cache
bin
Bin
App_Data
App_data
*~
*FileListAbsolute.txt

